<div class="col-md-10">
    <div class="col-md-8">
        <h2>Orders</h2>
    </div>
    <!--Drop down menu for filtering-->
    <div class="col-md-4">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-expanded="true">
                Filters
                <span class="caret"></span>
            </button>
            <div class="panel app-panel dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="adminId">Admin:</label>
                            <select class="form-control" ng-model="request.adminId" id="adminId"
                                    ng-options="department.id as department.name for department in departments"
                                    ng-change="changeDepartment(userData.departmentId)">
                                <option value="">(Choose department)</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="action">Action type:</label>
                            <select class="form-control" ng-model="request.action" id="action"
                                    ng-options="availablePhone.number for availablePhone in availablePhones">
                                <option value="">(Choose number)</option>
                            </select>
                        </div>


                        <div class="form-group">
                            <label for="phone">From:</label>
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="request.fromDate" is-open="openedFrom" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="phone">To:</label>
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="request.toDate" is-open="openedTo" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                        <div class="form-group">
                            <div class="btn btn-primary pull-right" ng-click="getOrdersWithFilter()">Filter</div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Drop down menu for filtering END-->
    <div class="panel">
        <div class="scrollable-area">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Username
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            AdminUser
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in orders">
                        <td>
                            {{order.orderId}}
                        </td>
                        <td>
                            {{order.userName}}
                        </td>
                        <td>
                            {{order.phone}}
                        </td>
                        <td>
                            {{order.admin}}
                        </td>
                        <td>
                            {{order.date | date:'MM/dd/yyyy @ HH:mm'}}
                        </td>
                        <td>
                            {{order.action}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

