<div class="no-print">
    <h2>Give card</h2>
    <div class="panel">
        <div class="panel-body">
            <div class="col-md-6">
                <div class="panel">
                    <form>
                        <div class="form-group">
                            <label for="fullname">Full Name:</label>
                            <input type="text" class="form-control" ng-model="userData.fullname"
                                   ng-change="changeFullname(userData.fullname)" id="fullname" placeholder="Enter full name">
                        </div>
                        <div class="form-group">
                            <label for="departmentId">Department:</label>{{departmentId}}
                            <select class="form-control" ng-model="userData.departmentId"
                                    ng-options="department.Id as department.Name for department in departments"
                                    ng-change="changeDepartment(userData.departmentId)">
                                <option value="">(Choose department)</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="phoneId">Phone:</label>{{departmentId}}
                            <select class="form-control" ng-model="userData.phoneId"
                                    ng-options="availablePhone.id as availablePhone.number for availablePhone in availablePhones"
                                    ng-change="changeNumber(userData.phoneId)">
                                <option value="">(Choose number)</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel">
                    <form>
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" ng-model="userData.username" id="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="text" class="form-control" ng-model="userData.password" id="password">
                        </div>
                        <div class="form-group">
                            <label for="phoneId">Job Title:</label>{{departmentId}}
                            <select class="form-control" ng-model="userData.phoneId"
                                    ng-options="availablePhone.id as availablePhone.number for availablePhone in availablePhones"
                                    ng-change="changeNumber(userData.phoneId)">
                                <option value="">(Choose number)</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="btn btn-primary">Give card</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{userData}}

    <h2>Preview</h2>
</div>

<div ng-include='"../../../templates/admin-order-give-card-template.html"'></div>
<div class="visible-print" ng-include='"../../../templates/admin-order-give-card-template.html"'></div>
