<div class="col-md-10">
    <div class="col-md-8">
        <h2>Orders</h2>
    </div>
    <!--Drop down menu for filtering-->
    <div class="col-md-4">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-expanded="true">
                Filters
                <span class="caret"></span>
            </button>
            <div class="panel app-panel dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="search">Search:</label>
                            <input type="text" class="form-control" name="search" ng-model="request.search" placeholder="Search" />
                        </div>
                        <div class="form-group">
                            <label for="actionType">Action type:</label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="takePhone"> Take phone
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="giveBackPhone"> Give back phone
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="takeForPrivateUse"> Take phone for private use
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone">From:</label>
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="{{datepicker.format}}" ng-model="request.fromDate" is-open="openedFrom" min-date="minDate" datepicker-options="datepicker.dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                        <div class="form-group">
                            <label for="phone">To:</label>
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="{{datepicker.format}}" ng-model="request.toDate" is-open="openedTo" min-date="minDate" datepicker-options="datepicker.dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                        <div class="form-group">
                            <div class="btn btn-warning pull-left" ng-click="clearFilter()">Clear</div>
                            <div class="btn btn-primary pull-right" ng-click="getOrdersWithFilter()">Filter</div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Drop down menu for filtering END-->
    <div class="panel">
        <table-grid datasource="orders"></table-grid>
        <pagination total-items="pagination.bigTotalItems" ng-model="pagination.bigCurrentPage" max-size="pagination.maxSize" class="pagination-sm" boundary-links="true" ng-click="pagination.pageChanged(getOrders, request)"></pagination>
    </div>
</div>


