<div>
    <p>
        Днес на <span class="label label-primary">{{date | date: 'dd.MM.yyyy'}}</span>
        <em class="text-danger">Organization Inc.</em> даде карта с номер <span class="label label-primary">{{phoneNumber}}</span> на
        <span class="label label-primary">{{userData.fullname}}</span> с длъжност <span class="label label-primary">{{jobTitleName}}</span> oт отделение <span class="label label-primary">{{departmentName}}</span>
    </p>

    <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  text-indent:23.45pt'>
        <span style='font-family:"Arial",sans-serif'>
            Служителят
            е длъжен да ползва SIM картата по предназначение за приоритетно обслужване на
            служебни ангажименти, за което болницата поема абонаментната такса, включваща
            безплатни разговори между служителите на болницата и безплатни разговори
            извън групата, съобразно абонаментния план.
        </span>
    </p>
    <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  text-indent:23.45pt'>
        <span style='font-family:"Arial",sans-serif'>
            Служителят
            дължи и заплаща стойността на ползваните и фактурирани услуги над включените
            в абонаментната такса и ДДС към тях:
        </span>
    </p>
    <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:58.8pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-ideograph;text-indent:-18.0pt;line-height:normal'>
        <span style='font-family:Symbol'>
            ·<span style='font:7.0pt "Times New Roman"'>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </span><span style='font-family:"Arial",sans-serif'>
            Когато служителят
            е по трудов договор, сумата се удържа ежемесечно от месечното трудово
            възнаграждение.
        </span>
    </p>
    </td>
    </tr>
    <tr style='height:37.5pt'>
        <td width=763 nowrap valign=bottom style='width:457.85pt;padding:0cm 3.5pt 0cm 3.5pt;
  height:37.5pt'>
            <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:58.8pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-ideograph;text-indent:-18.0pt;line-height:normal'>
                <span style='font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-family:"Arial",sans-serif'>
                    При други
                    взаимоотношения (граждански договор, специализация, майчинство, неплатен
                    отпуск, продължителен болничен и т.н.) служителят внася стойността на
                    ползваните и фактурирани суми над включените в абонаментната такса и ДДС към
                    тях в касата на болницата.
                </span>
            </p>
            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  text-indent:25.6pt'><span style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  text-indent:25.6pt'>
                <span style='font-family:"Arial",sans-serif'>
                    При
                    загубване, унищожаване или задържане на SIM картата при напускане, служителят
                    заплаща стойността на същата.
                </span>
            </p>
            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  text-indent:25.6pt'>
                <span style='font-family:"Arial",sans-serif'>
                    При
                    прекратяване на служебните взаимоотношения, служителят връща обратно SIM
                    картата на работодателя.
                </span>
            </p>
            <p class=MsoNormal>
                <span style='font-family:"Arial",sans-serif'>
                    Приел:                                 
                    Предал :
                </span>
            </p>
            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'>
                <span style='font-family:"Arial",sans-serif'>&nbsp;</span>
            </p>
            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'>
                <span style='font-size:8.0pt;line-height:115%;font-family:"Arial",sans-serif'>
                    /Трите
                    имена/                                                                                                                                
                    /Трите имена/
                </span>
            </p>
            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'>
                <span style='font-family:"Arial",sans-serif'>&nbsp;</span>
            </p>
        </td>
    </tr>
    <tr style='height:30.0pt'>
        <td width=763 nowrap valign=bottom style='width:457.85pt;padding:0cm 3.5pt 0cm 3.5pt;
  height:30.0pt'>
            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
  text-indent:25.6pt'>
                <span style='font-family:"Arial",sans-serif'>
                    Декларирам
                    съгласието си за удържане от месечното ми трудово възнаграждение на сумите
                    за:
                </span>
            </p>
        </td>
    </tr>
    <tr style='height:30.0pt'>
        <td width=763 nowrap valign=bottom style='width:457.85pt;padding:0cm 3.5pt 0cm 3.5pt;
  height:30.0pt'>
            <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:18.0pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-ideograph;text-indent:-18.0pt;line-height:normal'>
                <span style='font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-family:"Arial",sans-serif'>
                    Стойността на
                    изговорените <u>над</u> безплатния лимит разговори и дължимия ДДС към тях;
                </span>
            </p>
        </td>
    </tr>
    <tr style='height:30.0pt'>
        <td width=763 nowrap valign=bottom style='width:457.85pt;padding:0cm 3.5pt 0cm 3.5pt;
  height:30.0pt'>
            <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:18.0pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-ideograph;text-indent:-18.0pt;line-height:normal'>
                <span style='font-family:Symbol'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span style='font-family:"Arial",sans-serif'>
                    Стойността на SIM
                    картата, в случай, че бъде изгубена, унищожена или задържана от мен при прекратяване
                    на трудовото правоотношение.
                </span>
            </p>
            <p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;
  margin-left:15.25pt;margin-bottom:.0001pt;text-align:justify;text-justify:
  inter-ideograph;line-height:normal'><span style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
        </td>
    </tr>
    <tr style='height:15.0pt'>
        <td width=763 nowrap valign=bottom style='width:457.85pt;padding:0cm 3.5pt 0cm 3.5pt;
  height:15.0pt'>
            <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'>
                <span style='font-family:"Arial",sans-serif'>
                    Декларатор:
                </span>
            </p>
        </td>
    </tr>
    </table>

    <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'>
        <span style='font-size:8.0pt;line-height:115%;font-family:"Arial",sans-serif'>
        </span>
    </p>

    <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'>
        <span style='font-size:8.0pt;line-height:115%;font-family:"Arial",sans-serif'>
            /Трите
            имена/
        </span>
    </p>

    <div style='border:none;border-bottom:solid windowtext 1.0pt;padding:0cm 0cm 1.0pt 0cm'>

        <p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:23.45pt;border:none;padding:0cm'><span style='font-family:"Arial",sans-serif'>&nbsp;</span></p>

    </div>


    <span class="pull-left">Приел: <strong>{{userData.fullname}}</strong></span>
    <span class="pull-right">Предал: <strong>{{admin}}</strong></span>
</div>
