<div>
    <h2>Phones</h2>
</div>
<div class="panel">
    <div class="panel-body">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Number
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        Full Name
                    </th>
                    <th>
                        Department
                    </th>
                    <th>
                        Has Roaming
                    </th>
                    <th>
                        Credit Limit
                    </th>
                    <th>
                        Card Type
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="phone in phones">
                    <td>
                        {{phone.id}}
                    </td>
                    <td>
                        {{phone.number}}
                    </td>
                    <td>
                        {{phone.userInfo.username}}
                    </td>
                    <td>
                        {{phone.userInfo.fullname}}
                    </td>
                    <td>
                        {{phone.userInfo.department}}
                    </td>
                    <td>
                        {{phone.hasRouming}}
                    </td>
                    <td>
                        {{phone.creditLimit}}
                    </td>
                    <td>
                        {{phone.cardType}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>